<h3>Create a new place in your list of places:</h3>
<form action="/places" method="post">
  <label for="cityName">Add a city name </label>
  <input id="cityName" name="cityName" type="text">
  <label for="country">Add the country name </label>
  <input id="country" name="country" type="text">
  <label for="days">How many days were you there? </label>
  <input id="days" name="days" type="number">
  <button type="submit">Submit</button>
</form>