<h1>Places you have been:</h1>
<h2>@Model.CityName in @Model.Country and you were there for @Model.NumberOfDays</h2>

<a href="/places/news">Add another place</a><br>  
<a href="/places">View all place in your list</a>